{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-8 px-4">
    <h2 class="text-2xl font-bold mb-4">Restablecer Contraseña</h2>
    <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" novalidate>
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="id_email">
                Correo Electrónico
            </label>
            <input type="email" name="email" id="id_email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-primary hover:bg-primary-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Enviar correo de restablecimiento
            </button>
        </div>
    </form>
</div>
<div id="errorMessage" class="fixed top-0 left-0 right-0 bg-red-500 text-white p-4 text-center transform -translate-y-full transition-transform duration-300 ease-in-out">
    Por favor, ingresa un correo electrónico válido.
</div>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form');
    const errorMessage = document.getElementById('errorMessage');
    const emailInput = document.getElementById('id_email');

    form.addEventListener('submit', function(event) {
        if (!isValidEmail(emailInput.value)) {
            event.preventDefault();
            emailInput.classList.add('border-red-500');
            showErrorMessage();
        } else {
            emailInput.classList.remove('border-red-500');
        }
    });

    function isValidEmail(email) {
        const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return re.test(email);
    }

    function showErrorMessage() {
        errorMessage.style.transform = 'translateY(0)';
        setTimeout(() => {
            errorMessage.style.transform = 'translateY(-100%)';
        }, 3000);
    }
});
</script>
{% endblock %}